* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    height: 48px;
    min-width: auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul li img {
    width: 30px;
    border-radius: 14px;
}

ul li {
    color: black;
    list-style: none;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.circle {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 15px;
}

.circle:hover{
    box-shadow: 2px 2px 20px #b6b8b9;
}
.under:hover {
    text-decoration: underline;
}

.box2 img:hover {
    box-shadow: 2px 2px 20px #b6b8b9;
}

.container {
    height: 755px;
}

.googleimg1 {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
    width: auto;
    height: 295px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: 160px;
}

.search1 input {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 570px;
    height: 44px;
    border: 2px solid #b6b8b9;
}

.btn1 button {
    width: 129px;
    height: 37px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(63, 56, 68, 0.0625);
}

.search1 input:hover {
    box-shadow: 2px 2px 10px #b6b8b9;
}

.btn1 button:hover {
    box-shadow: 2px 2px 6px #b6b8b9;
}


.googleoffer {
    display: flex;
    justify-content: center;
    background-color: white;
    width: auto;
    height: 300px;
}

.googleoffer p {
    padding: 5px;
    color: blue;
    font-size: small;
}

.googleoffer p:hover {
    text-decoration: underline;
}

#pf {
    color: black;
    font-size: small;
    text-decoration: none;
}

.googleimg1 img {
    width: 300px;
    height: 100px;
}

.search1 img {
    position: relative;
    width: 30px;
    left: 52px;
    top: 6px;
}

.foot1 {
    display: flex;
    background-color: #e1dddd;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    padding:0px 25px;
    margin-bottom: 0.5px;
    color: rgb(133, 130, 130);
    font-weight: 50;
}

.foot2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1dddd;
    height: 47px;
    padding: 0px 10px;
    color: rgb(133, 130, 130);
    font-weight: 50;
}
.foot1 a{
    text-decoration: none;
    padding-left: 50px;

}
.fo1 {
    display: flex;

}

.fo2 {
    display: flex;
}

.fo1 p {
    padding: 0px 12px;
}

.fo2 p {
    padding: 0px 12px;
}

.fo1 p:hover {
    text-decoration: underline;
}

.fo2 p:hover {
    text-decoration: underline;
}

hr {
    margin: 0px 0px;
}